@{ 
    ViewBag.Url = Request.Url.AbsoluteUri;
    ViewBag.Image = "http://multitude.azurewebsites.net/images/index.jpeg";
    ViewBag.Description = "Help make the world better today.";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Multitude</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a9e8fba9c502900133c19c0&product=inline-share-buttons"></script>
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="fb:app_id" content="175170863265181" />
    <meta property="og:site_name" content="Multitude" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">

        <a class="navbar-brand" href="/">Multitude</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <form class="form-inline ml-auto mr-sm-4" id="searchForm" action="/causes/index">
                <div class="input-group">
                    <input class="form-control" type="text" id="nav-input" placeholder="Search" aria-label="Search" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success my-2 my-sm-0" id="searchButton" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "causes" && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "create" ? "active " : "")nav-link" href="/Causes/Create">Create a Cause</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "causes" && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "index"  ? "active " : "")nav-link" href="/Causes">Explore Causes</a>
                </li>
                <li class="nav-item">
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "members" && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "index"  ? "active " : "")nav-link" href="/Members">Find Members</a>
                </li>
                @if (Session["UserID"] == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign Up/Log In</a>
                    </li>
                    @Html.Partial("_Login", new Coursework.Models.Login())
                }
                else
                {
                    if (Session["Role"].ToString() == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/home/admin">Admin</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="/Members/Details/@Session["UserID"]">@Session["UserName"]'s Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Logout">Log Out</a>
                    </li>
                }
            </ul>
        </div>

    </nav>

    <!-- Body container -->
    <div class="container-fluid">

    @RenderBody()

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>