@model IEnumerable<Coursework.Models.Member>

@{
    ViewBag.Title = "Index";
}


    <div class="jumbotron jumbotron-fluid my-4">
        <div class="container-fluid">
            <div class="row mx-2">
                <div class="col-md-8">
                    <h2 class="display-4">Our Members</h2>
                    <p class="lead">We value every one of our members, and their capacity to make a better world through collective action.</p>
                    <hr class="my-4" />
                    <p class="lead">Why not join us today and pledge your support?</p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid rounded" src="~/Images/fistbump.jpeg" />
                </div>
            </div>
        </div>
    </div>

<div class="row">

    @foreach (var item in Model)
    {
    <div class="col-sm-2">
        <div class="card">
            <img class="card-img-top" src="@item.ImagePath" />
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-subtitle">@item.Email</p>
                <p class="card-text">@item.City</p>
                <p class="card-text">@item.Country</p>
                <a href="/members/details/@item.ID" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    }

</div>