@model IEnumerable<Coursework.Models.Member>

@{
    ViewBag.Title = "Members";
}


    <div class="jumbotron jumbotron-fluid my-4">
        <div class="container-fluid">
            <div class="row mx-2">
                <div class="col-lg-4">
                    <img class="img-fluid rounded" src="~/Images/fistbump.jpeg" />
                </div>
                <div class="col-md-8">
                    <h2 class="display-4">Our Members</h2>
                    <p>We value every one of our members, and their capacity to make a better world through collective action. Day by day, they're making a new world by making commitments to work together and strive for progress.</p>
                    <p>At Multitude, we pledge to continue supporting our members in their efforts to fight global warming and injustice, as well as the thousands of other problems we see around us.</p>
                    <hr class="my-4" />
                    <p class="lead">Why not join us today and pledge your support?</p>
                </div>
            </div>
        </div>
    </div>

<div class="row">

    @foreach (var item in Model)
    {
        var path = item.ImagePath == null ? "/images/user.jpeg" : item.ImagePath;
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@path" />
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-subtitle">@item.Email</p>
                    <p class="card-text">@item.City</p>
                    <p class="card-text">@item.Country</p>
                    <a href="/members/details/@item.ID" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }

</div>